<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-start">
    <div class="navbar-item has-text-weight-bold">
    {{ site.title }}
    </div>
  </div>
  <div class="navbar-end">
    <a href="{{ site.url }}" class="navbar-item">
      Home
    </a>
  </div>
</nav>